<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target"
  id="ftco-navbar" >

  <div class="container" >
    <a class="navbar-brand" routerLink="/">Mediplus</a>
    <!-- <button
      class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation" >

      <span class="oi oi-menu"></span> Menu
    </button> -->

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav nav ml-auto">
        <li id="register" class="nav-item">
          <a class="nav-link" routerLink="/account/register"
            ><span>Sign Up</span></a
          >
        </li>
        <li id="login" class="nav-item">
          <a class="nav-link" routerLink="/account/login"
            ><span>Sign In</span></a
          >
        </li>
        <li id="profile" class="nav-item">
          <a class="nav-link" routerLink="/account/profile"
            ><span>profile</span></a
          >
        </li>
        <li class="nav-item">
          <a href="#home-section" class="nav-link"><span>Home</span></a>
        </li>
        <li class="nav-item">
          <a href="#about-section" class="nav-link"><span>About</span></a>
        </li>
        <li class="nav-item">
          <a href="#services-section" class="nav-link"><span>services</span></a>
        </li>
        <li class="nav-item">
          <a href="#contact-section" class="nav-link"><span>Contact</span></a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
