<footer class="ftco-footer ftco-section img" style="background-image: url(assets/images/footer-bg.jpg);">
    <div class="overlay"></div>
    <div class="container-fluid px-md-5">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Mediplus</h2>
                    <p>For medical examination or consult a qualified doctors.</p>
                    <ul class="ftco-footer-social list-unstyled mt-5">
                        <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#home-section"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                        <li><a href="#about-section"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
                        <li><a href="#services-section"><span class="icon-long-arrow-right mr-2"></span>Services</a>
                        </li>
                        <li><a href="#contact-section"><span class="icon-long-arrow-right mr-2"></span>Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>laboratory Tests</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Qualified Doctors</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>X-ray examination</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>24 Hours Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><a href="https://www.google.com/maps/place/Tripoli/data=!4m2!3m1!1s0x1521f6ab9db89d33:0x323c52527dde8578?sa=X&ved=2ahUKEwjGkaCd5evtAhUxZxUIHUw0BDsQ8gEwAHoECAMQAQ"><span class="icon icon-map-marker"></span><span class="text">Tripoli, Lebanon</span></a></li>
                            <li><a href="tel://96181340959"><span class="icon icon-phone"></span><span class="text">+961 81340959</span></a></li>
                            <li><a href="mailto:mediplus01.lebanon@gmail.com"><span class="icon icon-envelope pr-4"></span><span
                    class="text">mediplus01.lebanon@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    Copyright &copy; 2021</p>
            </div>
        </div>
    </div>
</footer>