
    <!------ Include the above in your HEAD tag ---------->
    
    <div class="container"  style="margin-top: 120px;">
       <div class="row">
          <div class="col-xs-12 col-sm-9">
            
            <!-- User profile -->
            <div class="card" style="margin: 10px;">
              <div class="card-header">
              <h4 >Doctor profile</h4>
              </div>
              <div class="card-body">
                <div class="profile__avatar">
                  <img src="{{drdata.image}}" alt="...">
                </div>
                <div class="profile__header">
                  <h2>{{drdata.firstName}} {{drdata.lastName}} <h5>{{drdata.specialization}}</h5></h2>
                  <!-- <p class="card-text text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nostrum odio cum repellat veniam eligendi rem cumque magnam autem delectus qui.
                  </p> -->
                </div>
              </div>
              <!-- icons -->
              <div class="wrapper">
                <div class="icon instagram">
                <div class="tooltip">Instagram</div>
                <span><i class="fab fa-instagram"></i></span>
                </div>
                <div class="icon github">
                <div class="tooltip">Github</div>
                <span><i class="fab fa-github"></i></span>
                </div>
                <div class="icon telegram">
                <div class="tooltip">Telegram</div>
                <span><i class="fab fa-telegram"></i></span>
                </div>
                <div class="icon youtube">
                <div class="tooltip">Youtube</div>
                <span><i class="fab fa-youtube"></i></span>
                </div>
                <div class="icon linkedin">
                <div class="tooltip">Linkedin</div>
                <span><i class="fab fa-linkedin"></i></span>
                </div>
                </div>
            
            </div>
    
      
      
    
    
            <!-- Doctor info -->
            <div class="card" style="margin: 10px;">
              <div class="card-header">
              <h4>Doctor info</h4>
              </div>
              <div class="card-body">
                <table class="table profile__table">
                  <tbody>
                    <tr>
                      <th><strong>Location</strong></th>
                      <td>{{drdata.city}} , {{drdata.near}}</td>
                    </tr>
                    <tr>
                      <th><strong>Position</strong></th>
                      <td>{{drdata.specialization}}</td>
                    </tr>
                    <tr>
                      <th><strong>Rating</strong></th>
                      <td>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
    
            <!-- Specialities -->
            <!-- <div class="card "style="margin: 10px;">
              <div class="card-header">
              <h4>Specialities</h4>
              </div>
              <div class="card-body">
                <table class="table profile__table">
                  <tbody>
                    <tr>
                      <th><strong>Comments</strong></th>
                      <td>58584</td>
                    </tr>
                    <tr>
                      <th><strong>Member since</strong></th>
                      <td>Jan 01, 2016</td>
                    </tr>
                    <tr>
                      <th><strong>Last login</strong></th>
                      <td>1 day ago</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> -->
    
            <!-- Degrees -->
            <!-- <div class="card "style="margin: 10px;">
              <div class="card-header">
              <h4>Degrees</h4>
              </div>
              <div class="card-body">
                <table class="table profile__table">
                  <tbody>
                    <tr>
                      <th><strong>Last login</strong></th>
                      <td>1 day ago</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> -->
            <!-- Latest posts -->
            <div class="card"style="margin: 10px;">
              <div class="card-header">
              <h4>Reviews</h4>
              </div>
              <div class="card-body">
                <div class="profile__comments">
                  <div class="profile-comments__item">
                    <div class="profile-comments__controls">
                      <a href="#"><i class="fa fa-share-square-o"></i></a>
                      <a href="#"><i class="fa fa-edit"></i></a>
                      <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="profile-comments__avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                    </div>
                    <div class="profile-comments__body">
                      <h5 class="profile-comments__sender">
                        Richard Roe <small>2 hours ago</small>
                      </h5>
                      <div class="profile-comments__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, corporis. Voluptatibus odio perspiciatis non quisquam provident, quasi eaque officia.
                      </div>
                    </div>
                  </div>
                  <div class="profile-comments__item">
                    <div class="profile-comments__controls">
                      <a href="#"><i class="fa fa-share-square-o"></i></a>
                      <a href="#"><i class="fa fa-edit"></i></a>
                      <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="profile-comments__avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="...">
                    </div>
                    <div class="profile-comments__body">
                      <h5 class="profile-comments__sender">
                        Richard Roe <small>5 hours ago</small>
                      </h5>
                      <div class="profile-comments__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero itaque dolor laboriosam dolores magnam mollitia, voluptatibus inventore accusamus illo.
                      </div>
                    </div>
                  </div>
                  <div class="profile-comments__item">
                    <div class="profile-comments__controls">
                      <a href="#"><i class="fa fa-share-square-o"></i></a>
                      <a href="#"><i class="fa fa-edit"></i></a>
                      <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="profile-comments__avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="...">
                    </div>
                    <div class="profile-comments__body">
                      <h5 class="profile-comments__sender">
                        Richard Roe <small>1 day ago</small>
                      </h5>
                      <div class="profile-comments__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, esse, magni aliquam quisquam modi delectus veritatis est ut culpa minus repellendus.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
    
          <div class="col-xs-12 col-sm-3">
            
            <!-- Contact user -->
            
              <button href="#" style="margin-top: 5px;" class=" btn btn-block btn-info" data-toggle="modal" data-target="#profile__contact-form">
                Contact user
              </button>
            
    
            <hr class="profile__contact-hr">
            
            <!-- Contact info -->
            <div class="profile__contact-info">
              <div class="profile__contact-info-item">
                <div class="profile__contact-info-icon">
                  <i class="fas fa-phone"></i>
                </div>
                <div class="profile__contact-info-body">
                  <h5 class="profile__contact-info-heading">Work number</h5>
                  {{drdata.clinicNumber}}
                </div>
              </div>
              <div class="profile__contact-info-item">
                <div class="profile__contact-info-icon">
                  <i class="fas fa-mobile"></i>
                </div>
                <div class="profile__contact-info-body">
                  <h5 class="profile__contact-info-heading">Mobile number</h5>
                  {{drdata.number}}
                </div>
              </div>
              <div class="profile__contact-info-item">
                <div class="profile__contact-info-icon">
                  <i class="fa fa-envelope-square"></i>
                </div>
                <div class="profile__contact-info-body">
                  <h5 class="profile__contact-info-heading">E-mail address</h5>
                  <a href="mailto:admin@domain.com">{{drdata.email}}</a>
                </div>
              </div>
              <div class="profile__contact-info-item">
                <div class="profile__contact-info-icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="profile__contact-info-body">
                  <h5 class="profile__contact-info-heading">Work address</h5>
                  {{drdata.near}} , {{drdata.street}}
                </div>
              </div>
            </div>
    
          </div>
        </div>
    </div>
    
    