a:hover {
    /* background-color: #207dff; */
    border-radius: 22px;
}

.link:hover {
    background: none;
}

.list1:hover {
    background-color: #bac9df;
}


/* .account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
} */